/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  height: 100%;
  box-sizing: border-box;
  color: #222;
  font-size: 1em; }

*, *:before, *:after {
  box-sizing: inherit; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.material-icons.md-18, .md-18 {
  font-size: 18px; }

.material-icons.md-24, .md-24 {
  font-size: 24px; }

.material-icons.md-32, .md-32 {
  font-size: 32px; }

.material-icons.md-36, .md-36 {
  font-size: 36px; }

.material-icons.md-48, .md-48 {
  font-size: 48px; }

body {
  height: 100%; }
  body .view {
    display: none; }

#loggedout {
  margin: 50px auto;
  text-align: center; }
  #loggedout #google-logo {
    display: block;
    height: 50px;
    color: transparent;
    background: url(../img/Google_2015_logo.png);
    background-size: 148px 50px;
    background-position: center;
    background-repeat: no-repeat; }
  #loggedout #b3-leader {
    font-weight: 300;
    margin-bottom: 15px; }
  #loggedout #b3-login-invite {
    font-size: 1.1rem; }

#loggedin {
  width: 100%;
  height: 100%;
  min-width: 320px; }
  #loggedin nav {
    background-color: #5ca6f5;
    color: white;
    padding: 10px 20px; }
    #loggedin nav ul.b3-navbar {
      clear: both;
      margin: 0;
      padding: 0;
      height: 30px;
      vertical-align: middle; }
      #loggedin nav ul.b3-navbar li {
        display: inline-block;
        list-style: none;
        vertical-align: middle; }
        #loggedin nav ul.b3-navbar li:first-child {
          float: left;
          padding-top: 5px; }
        #loggedin nav ul.b3-navbar li:last-child {
          float: right;
          position: relative; }
          #loggedin nav ul.b3-navbar li:last-child div.mdc-simple-menu {
            top: 30px;
            left: 0; }
        #loggedin nav ul.b3-navbar li a {
          text-decoration: none;
          color: inherit; }

.dialog-backdrop {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3); }
  .dialog-backdrop .dialog {
    position: absolute;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    min-width: 300px;
    width: 80%;
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
    background-color: white; }
    @media only screen and (min-width: 768px) {
      .dialog-backdrop .dialog {
        min-width: 640px;
        max-width: 860px;
        width: 80%; } }
    .dialog-backdrop .dialog .dialog-title {
      padding: 24px 24px 20px 24px;
      display: flex;
      align-items: center; }
      .dialog-backdrop .dialog .dialog-title h4 {
        margin: 0; }
    .dialog-backdrop .dialog .dialog-content {
      padding: 0px 24px 24px 24px; }
      .dialog-backdrop .dialog .dialog-content div.mdc-textfield {
        width: 100%;
        margin-bottom: 30px;
        position: relative; }
        .dialog-backdrop .dialog .dialog-content div.mdc-textfield input[type="text"], .dialog-backdrop .dialog .dialog-content div.mdc-textfield input[type="url"] {
          width: 100%;
          padding-left: 120px; }
          .dialog-backdrop .dialog .dialog-content div.mdc-textfield input[type="text"][id="input-link-url"], .dialog-backdrop .dialog .dialog-content div.mdc-textfield input[type="url"][id="input-link-url"] {
            color: #4883c5; }
          .dialog-backdrop .dialog .dialog-content div.mdc-textfield input[type="text"][id="input-binder-cover"], .dialog-backdrop .dialog .dialog-content div.mdc-textfield input[type="url"][id="input-binder-cover"] {
            color: #4883c5; }
            .dialog-backdrop .dialog .dialog-content div.mdc-textfield input[type="text"][id="input-binder-cover"].highlighted, .dialog-backdrop .dialog .dialog-content div.mdc-textfield input[type="url"][id="input-binder-cover"].highlighted {
              background-color: #efebae; }
          .dialog-backdrop .dialog .dialog-content div.mdc-textfield input[type="text"]:required + label:after, .dialog-backdrop .dialog .dialog-content div.mdc-textfield input[type="url"]:required + label:after {
            content: ''; }
        .dialog-backdrop .dialog .dialog-content div.mdc-textfield input.hidden {
          width: 1px;
          height: 1px; }
    .dialog-backdrop .dialog .dialog-actions {
      padding: 0px 24px 24px 24px;
      text-align: right; }
      .dialog-backdrop .dialog .dialog-actions .update {
        display: none; }
  .dialog-backdrop .dialog-small {
    position: absolute;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    min-width: 300px;
    max-width: 480px; }
    .dialog-backdrop .dialog-small .dialog-content {
      padding: 24px; }
      .dialog-backdrop .dialog-small .dialog-content span {
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        font-style: italic; }
    .dialog-backdrop .dialog-small .dialog-actions {
      padding: 24px;
      text-align: right; }

.color-picker-container label {
  position: relative;
  width: 100px; }
.color-picker-container .color-picker {
  display: inline-block;
  margin: 0;
  padding: 0 0 0 20px; }
  .color-picker-container .color-picker li {
    list-style: none;
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-right: 6px;
    color: white; }
    .color-picker-container .color-picker li.border {
      color: black;
      border: 1px solid #555; }
@media only screen and (max-width: 767px) {
  .color-picker-container {
    display: table; }
    .color-picker-container label, .color-picker-container .color-picker {
      display: table-cell;
      bottom: 0;
      vertical-align: middle; } }

#user-full-name {
  cursor: pointer; }
  #user-full-name img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-left: 10px; }
  #user-full-name .mdc-simple-menu ul li.mdc-list-item {
    height: inherit; }

#binders-list {
  display: none;
  flex-flow: row wrap;
  justify-content: center;
  padding: 10px;
  margin-top: 10px; }
  @media only screen and (min-width: 64.063em) {
    #binders-list {
      justify-content: flex-start; } }
  #binders-list .sortable-binders {
    float: left; }
  #binders-list .mdc-card {
    position: relative;
    width: 300px;
    height: 330px;
    margin: 10px;
    float: left; }
    #binders-list .mdc-card.template {
      display: none; }
    #binders-list .mdc-card.highlighted {
      margin-top: 7px;
      box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.3), 0px 24px 38px 3px rgba(0, 0, 0, 0.24), 0px 9px 46px 8px rgba(0, 0, 0, 0.22); }
    #binders-list .mdc-card .handle {
      position: absolute;
      top: 0;
      left: 0;
      color: white;
      font-weight: 500;
      background-color: black;
      padding: 7px;
      margin: 10px;
      border-radius: 50%;
      opacity: 0.5;
      cursor: move; }
    #binders-list .mdc-card .cover {
      width: 100%;
      height: 200px;
      cursor: pointer; }
    #binders-list .mdc-card .mdc-card__supporting-text {
      height: 130px;
      color: white;
      cursor: pointer; }
      #binders-list .mdc-card .mdc-card__supporting-text p.title {
        line-height: 1.5em;
        font-size: 1.4em;
        margin: 15px 0 6px 0; }
      #binders-list .mdc-card .mdc-card__supporting-text p.updated {
        margin-top: 0; }
    #binders-list .mdc-card .mdc-card__actions {
      position: relative;
      height: 0px;
      padding: 0; }
      #binders-list .mdc-card .mdc-card__actions .mdc-simple-menu {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        z-index: 1; }
        #binders-list .mdc-card .mdc-card__actions .mdc-simple-menu ul {
          width: 100%; }
          #binders-list .mdc-card .mdc-card__actions .mdc-simple-menu ul li {
            width: 100%;
            height: 40px; }
      #binders-list .mdc-card .mdc-card__actions button.menu-trigger {
        position: absolute;
        right: 5px;
        bottom: 5px; }
    #binders-list .mdc-card[data-color="FFFFFF"] .mdc-card__supporting-text {
      color: #333333; }
    #binders-list .mdc-card[data-color="FFFFFF"] button.menu-trigger {
      color: #333333; }
  #binders-list #new-binder {
    text-align: center;
    display: table;
    background-color: inherit; }
    @media only screen and (max-width: 676px) {
      #binders-list #new-binder {
        height: auto; }
        #binders-list #new-binder .mdc-card__supporting-text {
          height: auto;
          padding-bottom: 5px; }
          #binders-list #new-binder .mdc-card__supporting-text p {
            margin: 0; } }
    #binders-list #new-binder .mdc-card__supporting-text {
      display: table-cell;
      vertical-align: middle;
      cursor: pointer;
      color: inherit; }
  #binders-list #no-binder {
    display: none;
    background-color: #4883c5;
    text-align: center;
    padding: 15px; }
    #binders-list #no-binder.show {
      display: table; }
    @media only screen and (max-width: 676px) {
      #binders-list #no-binder {
        height: auto; }
        #binders-list #no-binder .mdc-card__supporting-text {
          height: auto;
          padding-bottom: 0; }
          #binders-list #no-binder .mdc-card__supporting-text p {
            margin: 0 0 10px 0; } }
    #binders-list #no-binder .mdc-card__supporting-text {
      display: table-cell;
      vertical-align: middle;
      cursor: default; }

#binder-detail {
  height: 100%;
  display: none; }
  #binder-detail > * {
    padding: 0px 10px; }
  #binder-detail header {
    background-image: none;
    padding-top: 10px; }
    #binder-detail header .info {
      margin-left: 0px;
      padding-bottom: 10px;
      color: white; }
      #binder-detail header .info p {
        margin: 0; }
        #binder-detail header .info p.title {
          line-height: 1.3em; }
    #binder-detail header[data-color="FFFFFF"] .info {
      color: #333333; }
  #binder-detail menu {
    width: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; }
    #binder-detail menu #return-to-binders-list {
      min-width: 200px;
      cursor: pointer; }
      #binder-detail menu #return-to-binders-list button {
        box-shadow: none !important;
        vertical-align: middle;
        margin-right: 10px; }
    #binder-detail menu #new-link {
      min-width: 150px;
      float: right;
      padding: 10px 15px;
      cursor: pointer;
      font-weight: 500;
      background-color: #3b3f43; }
      #binder-detail menu #new-link button {
        box-shadow: none;
        vertical-align: middle;
        text-align: middle;
        width: 28px;
        height: 28px;
        font-weight: 700;
        background-color: #898c8e !important; }
      #binder-detail menu #new-link > span {
        vertical-align: middle;
        margin-left: 10px;
        color: white;
        font-weight: 500; }
  #binder-detail #links-list {
    margin-top: 35px;
    padding: 0 10px;
    overflow: auto; }
    #binder-detail #links-list #no-docs {
      display: none; }
      #binder-detail #links-list #no-docs.show {
        display: block; }
    #binder-detail #links-list .link {
      clear: both;
      overflow: hidden;
      margin-bottom: 20px;
      display: flex;
      flex-flow: row nowrap; }
      #binder-detail #links-list .link.template {
        display: none; }
      #binder-detail #links-list .link .type-reorder {
        position: relative;
        float: left;
        width: 60px;
        height: 60px;
        margin-right: 10px; }
        #binder-detail #links-list .link .type-reorder .type {
          position: absolute;
          opacity: 1;
          margin: 0;
          width: 42px;
          transition: opacity .2s ease .2s; }
          #binder-detail #links-list .link .type-reorder .type img {
            width: 42px;
            height: 58px; }
        #binder-detail #links-list .link .type-reorder .handle {
          position: absolute;
          opacity: 0;
          margin: 0;
          width: 42px;
          color: white;
          font-weight: 500;
          background-color: black;
          padding: 7px;
          border-radius: 50%;
          cursor: move;
          transition: opacity .2s ease .2s; }
        #binder-detail #links-list .link .type-reorder:hover .type {
          opacity: 0; }
        #binder-detail #links-list .link .type-reorder:hover .handle {
          opacity: 0.6; }
      #binder-detail #links-list .link .info {
        float: left;
        width: 80%; }
        #binder-detail #links-list .link .info a {
          text-decoration: none;
          color: #555; }
          #binder-detail #links-list .link .info a:hover {
            text-decoration: underline; }
        #binder-detail #links-list .link .info p {
          margin-top: 0;
          margin-bottom: 0;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
          #binder-detail #links-list .link .info p.file {
            color: black; }
            #binder-detail #links-list .link .info p.file span.name {
              padding-right: 10px; }
          #binder-detail #links-list .link .info p.url {
            color: #555; }
            #binder-detail #links-list .link .info p.url span {
              -moz-user-select: all;
              -webkit-user-select: all;
              -ms-user-select: all;
              user-select: all; }
      #binder-detail #links-list .link .action-btn {
        float: right;
        position: absolute;
        right: 10px; }
        #binder-detail #links-list .link .action-btn button {
          background-color: transparent !important;
          box-shadow: none; }
        #binder-detail #links-list .link .action-btn .mdc-simple-menu {
          right: 0;
          z-index: 1; }
  @media only screen and (min-width: 677px) {
    #binder-detail > * {
      padding: 0px 25px !important; }
    #binder-detail header {
      height: auto;
      background-size: auto 100%;
      background-position: right;
      background-repeat: no-repeat;
      padding-top: 30px !important; }
      #binder-detail header .info {
        margin-right: 210px;
        padding-bottom: 30px; }
        #binder-detail header .info p {
          margin: 0; }
          #binder-detail header .info p.title {
            line-height: 1.3em; } }
  @media only screen and (max-width: 676px) {
    #binder-detail header {
      background-image: none !important; } }
  @media only screen and (max-width: 440px) {
    #binder-detail menu #return-to-binders-list {
      min-width: 100px; }
      #binder-detail menu #return-to-binders-list > span {
        display: none; } }

#dropzone {
  display: none;
  position: fixed;
  z-index: 100 !important;
  bottom: 0;
  width: 100%;
  height: 180px; }
  #dropzone #dropzone-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6; }
  #dropzone #dropzone-content {
    position: absolute;
    min-width: 400px;
    margin: 0 0 0 50%;
    transform: translate(-50%, 0);
    text-align: center; }
    #dropzone #dropzone-content img {
      margin-top: 10px;
      margin-bottom: 10px; }
    #dropzone #dropzone-content p {
      display: none;
      background-color: #0086f3;
      color: white;
      font-weight: 300;
      line-height: 1.5rem;
      margin: 0 0 15px 0;
      padding: 15px 30px;
      border-radius: 3px;
      border: 1px solid #6abcff;
      box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12); }
      #dropzone #dropzone-content p span {
        line-height: 0;
        font-size: 1.05rem;
        font-weight: 400; }

[data-color="lightest-grey"] {
  background-color: #efefef !important;
  color: #aaa !important; }

[data-color="light-grey"] {
  background-color: #b9b9b9 !important; }

[data-color="transparent"] {
  background-color: transparent !important;
  box-shadow: none; }

[data-color="transparent-with-shadow"] {
  background-color: inherit !important; }

[data-color="000000"] {
  background-color: #000000 !important; }

[data-color="008ae4"] {
  background-color: #008ae4 !important; }

[data-color="ff0081"] {
  background-color: #ff0081 !important; }

[data-color="7632b6"] {
  background-color: #7632b6 !important; }

[data-color="52c624"] {
  background-color: #52c624 !important; }

[data-color="f8ad0d"] {
  background-color: #f8ad0d !important; }

[data-color="00c1d4"] {
  background-color: #00c1d4 !important; }

[data-color="d3001e"] {
  background-color: #d3001e !important; }

[data-color="FFFFFF"] {
  background-color: #FFFFFF !important; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
