/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    height: 100%;
    box-sizing: border-box;
    color: #222;
    font-size: 1em;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
$text-color-dark: #333;
$text-color-light: #fff;
$text-font: 'Roboto', sans-serif;
$text-font-serif: 'Roboto Slab', serif;
$binder-color-blue: #0091EA;
$binder-header-bg-grey: #EEEEEE;
$binder-header-text-grey: #616161;
$binder-fab-pink: #ff4081;
$grey-accent-color: #b9b9b9;
$grey-accent-text: #aaa;

.material-icons.md-18, .md-18 { font-size: 18px; }
.material-icons.md-24, .md-24 { font-size: 24px; }
.material-icons.md-32, .md-32 { font-size: 32px; }
.material-icons.md-36, .md-36 { font-size: 36px; }
.material-icons.md-48, .md-48 { font-size: 48px; }

body {
    height: 100%;
    .view {
        display: none;
    }
}

#loggedout {
    margin: 50px auto;
    text-align: center;
    #google-logo {
        display: block;
        height: 170px;
        color: $binder-color-blue;
        background: url(../img/binder-logo.png);
        background-size: auto 170px;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 190px;
        margin-bottom: 80px;
        font-weight: 300;
        font-size: 2.4em;
        span {
            font-size: 0.5em;
            font-weight: 400;
        }
    }
    #b3-leader {
        font-weight: 300;
        margin-bottom: 15px;
    }
    #b3-login-invite {
        font-size: 1.1rem; 
    }
}

// h3 {
//     text-align: center;
//     font-weight: normal;
//     font-size: 1.5em;
// }

// h2 {
//     text-align: center;
//     font-weight: normal;
//     font-size: 3em;
// }

// h4 {
//     text-align: center;
//     font-weight: normal;
//     font-size: 1.2em;
// }

#loggedin {
    width: 100%;
    height: 100%;
    min-width: 350px;
    nav {
        background-color: $binder-color-blue;
        color: $text-color-light;
        padding: 10px 20px;
        ul.b3-navbar {
            clear: both;
            margin: 0;
            padding: 0;
            height: 30px;
            vertical-align: middle;
            li {
                display: inline-block;
                list-style: none;
                vertical-align: middle;
                //line-height: 30px;
                button {
                  background: none;
                  border: none;
                  width: 24px;
                  padding: 0;
                  margin: 0;
                  margin-right: 10px;
                  margin-top: -2px;
                  color: #FFF;
                }
                &:first-child {
                    float: left;
                    padding-top: 5px;
                }
                &:last-child {
                    float: right;
                    position: relative;
                    span {
                        display: inline-block;
                        overflow: hidden;
                        white-space: nowrap;
                        max-width: 120px; 
                        text-overflow: ellipsis;
                        vertical-align: middle;
                    }
                    div.mdc-simple-menu {
                        z-index: 1;
                        top: 30px;
                        left: 0;
                    }
                }
                a {
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
        &.reclaim-color {
            background-color: $binder-color-blue !important;
        }
    }
}

// TODO : Drawer menu
// #prefs {
//     z-index: 1000;
//     * {
//         background-color: $grey-accent-color !important;
//         header div {
//             background-color: $binder-color-blue !important;
//         }
//     }
// }

.dialog-backdrop {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.3);
    .dialog {
        @media only screen and (min-width: 768px) {
            min-width: 640px;
            max-width: 860px;
            width: 80%;
        }
        position: absolute;
        box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
                    0px 24px 38px 3px rgba(0, 0, 0, 0.14),
                    0px 9px 46px 8px rgba(0, 0, 0, 0.12); 
        min-width: 300px;
        width: 80%;
        top: 50%;
        left: 50%; 
        z-index: 100;
        transform: translate(-50%,-50%);
        background-color: white;
        .dialog-title {
            padding: 24px 24px 20px 24px;
            display: flex;
            align-items: center;
            h4 {
                margin: 0;
            }
        }
        .dialog-content {
            padding: 0px 24px 24px 24px;
            div.mdc-textfield {
                width: 100%;
                margin-bottom: 30px;
                position: relative;
                input[type="text"], input[type="url"] {
                    width: 100%;
                    padding-left: 120px;
                    &[id="input-link-url"] {
                        color: $binder-color-blue;
                    }
                    &[id="input-binder-cover"] {
                        color: $binder-color-blue;
                        &.highlighted {
                            background-color: #efebae;
                        }
                    }
                    // Control how to mark required form fields
                    // Material Design Component classes force an * which we override here.
                    &:required+label:after {
                        content: '';
                    }
                }
                input.hidden {
                    width: 1px;
                    height: 1px;
                }
            }
        }
        .dialog-actions {
            padding: 0px 24px 24px 24px;
            text-align: right;
            .update {
                display: none;       
            }
        }
    }
    .dialog-small {
        position: absolute;
        box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
                    0px 24px 38px 3px rgba(0, 0, 0, 0.14),
                    0px 9px 46px 8px rgba(0, 0, 0, 0.12); 
        min-width: 300px;
        max-width: 480px;
        .dialog-content {
            padding: 24px;
            span {
                display: inline-block;
                position: relative;
                left: 50%;
                transform: translate(-50%, 0);
                font-style: italic;
            }
        }
        .dialog-actions {
            padding: 24px;
            text-align: right;
        }
    }
}

.color-picker-container {
    label {
        position: relative;
        width: 100px;
    }
    .color-picker {
        display: inline-block;
        margin: 0;
        padding: 0 0 0 20px;
        li {
            list-style: none;
            display: inline-block;
            position: relative;
            cursor: pointer;
            width: 24px;
            height: 24px;
            margin-right: 6px;
            color: white;
            &.border {
                color: black;
                border: 1px solid #555;
            }
        }   
    }
    @media only screen and (max-width: 767px) {
        display: table;
        label, .color-picker {
            display: table-cell;
            bottom: 0;
            vertical-align: middle;
        }
    }
}

#user-full-name {
    cursor: pointer;
    img {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        margin-left: 10px;
    }
    .mdc-simple-menu {
        ul {
            li.mdc-list-item {
                height: inherit;
            }
        }
    }
}

#binders-list {
    display: none;
    flex-flow: row wrap;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
    @media only screen and (min-width: 64.063em) {
        //justify-content: flex-start;
    }
    .sortable-binders {
        float: left;
    }
    .mdc-card {
        position: relative;
        width: 300px;
        height: 329px;
        margin: 10px;
        float: left;
        &.template {
            display: none;
        }
        &.highlighted {
            margin-top: 7px;
            box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.3),
                    0px 24px 38px 3px rgba(0, 0, 0, 0.24),
                    0px 9px 46px 8px rgba(0, 0, 0, 0.22); 
        }
        .handle {
            position: absolute;
            top: 0;
            left: 0;
            color: white;
            font-weight: 500;
            background-color: black;
            padding: 7px;
            margin: 10px;
            border-radius: 50%;
            opacity: 0.3;
            cursor: move;
        }
        .cover {
            width: 100%;
            height: 199px;
            cursor: pointer;
            overflow: hidden;
            img {
                width: 300px;
                height: 200px;
            }
        }
        .mdc-card__supporting-text {
            height: 130px;
            color: white;
            cursor: pointer;
            p.title {
                line-height: 1.5em;
                font-size: 1.4em;
                margin: 15px 0 6px 0;
            }
            p.updated {
                margin-top: 0;
            }
        }
        .mdc-card__actions {
            position: relative;
            height: 0px;
            padding: 0;
            .mdc-simple-menu {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                z-index: 1;
                ul {
                    width: 100%;
                    li {
                        width: 100%;
                        height: 40px;
                    }
                }
            }
            button.menu-trigger {
                position: absolute;
                right: 5px;
                bottom: 5px;
            }
        }
        // Light colored binder covers.
        &[data-color="FFFFFF"] {
            .mdc-card__supporting-text {
                color: $text-color-dark;
            }
            button.menu-trigger {
                color: $text-color-dark;
            }
        }
        
    }
    #no-binder {
        display: none;
        background-color: $binder-color-blue;
        text-align: center;
        padding: 15px;
        &.show {
            display: table;
        }
        @media only screen and (max-width: 676px) {
            height: auto;
            .mdc-card__supporting-text {
                height: auto;
                padding-bottom: 0;
                p {
                    margin: 0 0 10px 0;
                }
            }
        }
        .mdc-card__supporting-text {
            display: table-cell;
            vertical-align: middle;
            cursor: default;
        }
    }
}

#binder-detail {
    //height: 100%;
    display: none;
    & > * {
        padding: 0px 10px;
    }
    header {
        position: relative;
        background-image: none;
        background-color: $binder-header-bg-grey;
        color: $binder-header-text-grey;
        overflow: hidden;
        width: 100%;
        min-height: 140px;
        height: auto;
        #return-to-binders-list {
            position: absolute;
            top: 50%;
            transform: perspective(1px) translateY(-50%);
            background-color: inherit !important;
            border: none;
            padding: 0;
            font-size: 2.2em;
        }
        .info {
            position: absolute;
            top: 50%;
            transform: perspective(1px) translateY(-50%);
            margin-left: 60px;
            p {
                margin: 0;
                &.title {
                    line-height: 1.3em;
                }
            }
        }
        .cover {
            position: absolute;
            right: 0;
            &.cover-border-width {
                width: 15px;
            }
        }
    }
    #links-list {
        margin-top: 35px;
        padding: 0 10px;
        overflow: auto;
        #no-docs {
            display: none;
            &.show {
                display: block;
            }
        }
        .link {
            clear: both;
            overflow: hidden;
            margin-bottom: 20px;
            display: flex;
            flex-flow: row nowrap;
            &.template {
                display: none;
            }
            .type-reorder {
                position: relative;
                float: left;
                width: 60px;
                height: 60px;
                margin-right: 10px;
                .type {
                    position: absolute;
                    opacity: 1;
                    margin: 0;
                    width: 42px;
                    transition: opacity .2s ease .2s;
                    img {
                        width: 42px;
                        height: 58px;
                    }
                }
                .handle {
                    position: absolute;
                    opacity: 0;
                    margin: 0;
                    width: 42px;
                    color: white;
                    font-weight: 500;
                    background-color: black;
                    padding: 7px;
                    border-radius: 50%;
                    cursor: move;
                    transition: opacity .2s ease .2s;
                }
                &:hover {
                    .type {
                        opacity: 0;
                    }
                    .handle {
                        opacity: 0.6;
                    }
                }
            }
            .info {
                //cursor: pointer;
                float: left;
                width: 80%;
                a {
                    text-decoration: none;
                    color: #555;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                p {
                    margin-top: 0;
                    margin-bottom: 0;
                    overflow: hidden;
                    white-space:nowrap;
                    text-overflow: ellipsis;
                    &.file {
                        color: black;
                        span.name {
                            padding-right: 10px;
                        }
                        span.date {
                            //padding-left: 10px;
                        }  
                    } 
                    &.url {
                        color: #555;
                        span {
                            -moz-user-select: all;
                            -webkit-user-select: all;
                            -ms-user-select: all;
                            user-select: all;
                        }
                    }
                    
                }
            }
            .action-btn {
                float: right;
                position: absolute;
                right: 20px;
                button {
                    background-color: transparent !important;
                    box-shadow: none;
                    &:hover {
                        background-color: #eee !important;
                    }
                }
                .mdc-simple-menu {
                    right: 0;
                    z-index: 1;
                }   
            }
        }
    }
    @media only screen and (min-width: 677px) {
        & > * {
            padding: 0px 25px !important;
        }
        header {
            padding-right: 0 !important;
            height: 170px;
            #return-to-binders-list {
            }
            .info {
                max-width: 1000px;
                p {
                    margin: 0;
                    &.title {
                        line-height: 1.3em;
                    }
                }
            }
            .cover {
                height: 170px;
                width: 255px;
                .inner-cover {
                    overflow: hidden;
                    height: 155px;
                    width: 255px;
                    background-size: 255px 170px;
                    background-position: top;
                    background-repeat: no-repeat;
                }
            }
        }
    }
    @media only screen and (max-width: 676px) {
        .cover {
            display: none !important;
        }
    }
}

.dialog form button {
    color: $binder-color-blue;
}

#new-binder, #new-link {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 10;
    @media only screen and (max-width: 676px) {
        
    }
}

#dropzone {
    display: none;
    position: fixed;
    z-index: 100 !important;
    bottom: 0;
    width: 100%;
    height: 180px;
    #dropzone-backdrop {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.6;    
    }
    #dropzone-content {
        position: absolute;
        min-width: 400px;
        margin: 0 0 0 50%;
        transform: translate(-50%, 0);
        text-align: center;
        img {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        p {
            display: none;
            background-color: #0086f3;
            color: white;
            font-weight: 300;
            line-height: 1.5rem;
            margin: 0 0 15px 0;
            padding: 15px 30px;
            border-radius: 3px;
            border: 1px solid #6abcff;
            box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
                    0px 24px 38px 3px rgba(0, 0, 0, 0.14),
                    0px 9px 46px 8px rgba(0, 0, 0, 0.12); 
            span {
                line-height: 0;
                font-size: 1.05rem;
                font-weight: 400;
            }
        }
    }
}




// FAB colors
[data-color="lightest-grey"] {
    background-color: #efefef !important;
    color: #aaa !important;
}
[data-color="light-grey"] {
    background-color: #b9b9b9 !important;
}
[data-color="transparent"] {
    background-color: transparent !important;
    box-shadow: none;
}
[data-color="transparent-with-shadow"] {
    background-color: inherit !important;
}


// Binder colors
[data-color="000000"] {
    background-color: #000000 !important;
}
#binder-detail header[data-color="000000"] {
    background-color: #4D4D4D !important;
}
[data-color="008ae4"] {
    background-color: #008ae4 !important;
}
[data-color="ff0081"] {
    background-color: #ff0081 !important;
}
[data-color="7632b6"] {
    background-color: #7632b6 !important;
}
[data-color="52c624"] {
    background-color: #52c624 !important;
}
[data-color="f8ad0d"] {
    background-color: #f8ad0d !important;
}
[data-color="00c1d4"] {
    background-color: #00c1d4 !important;
}
[data-color="d3001e"] {
    background-color: #d3001e !important;
}
[data-color="FFFFFF"] {
    background-color: #FFFFFF !important;
}
#binder-detail header[data-color="FFFFFF"] {
    background-color: #D9D9D9 !important;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

// @media only screen and (min-width: 40em) {

// }

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
